<html>
  <body>
    <!-- <form #f="ngForm" (ngSubmit)="sub(f)">
      Num 1 : <input type="text" name="num1" ngModel><br><br>
      Num 2 : <input type="text" name="num2" ngModel><br><br>
      <button class="btn btn-success">SUB</button>
    </form> -->

    <form #s="ngForm" (ngSubmit)="sub(s)">
      Number 1 : <input type="text" name="num1" ngModel><br><br>
      Number 2 : <input type="text" name="num2" ngModel><br><br>
      <button class="btn btn-danger">SUB</button>
    </form>
  </body>
</html>