<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/subtract">SUBTRACT</a></li>
      <li><a routerLink="/addtion">ADD</a></li>
      <li><a routerLink="/multiplication">MUL</a></li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SMK</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="/addition">ADD</a></li>
        <li><a routerLink="/subtraction">SUB</a></li>
        <li><a routerLink="/login">LOGIN</a></li>
        <li><a routerLink="/cu">CONTACT US</a></li>
        <li><a routerLink="/au">ABOUT</a></li>
      </ul>
    </div>
  </nav>